<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <span style="font-size: 22px;"> <%= contactContent %> <a class="contact" >contactdailyjournal@gmail.com</a> </span>

<%- include("partials/footer"); -%>
